{{- if .IsHome -}}
<meta name="og:title" content="{{ site.Title }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ site.Params.Description | default site.Params.Description }}">
<meta property="og:url" content="{{ site.BaseURL }}">
{{- else -}}
<meta name="og:title" content="{{ .Page.Title }}">
{{- with .Params.og_type -}}
<meta property="og:type" content="{{ .Params.og_type }}" />
{{- else -}}
<meta property="og:type" content="website" />
{{- end -}}
<meta property="og:description" content="{{ .Params.Description }}" />
<meta property="og:url" content="{{ .Page.Permalink }}" />
{{- with .Params.Featured_image -}}
<meta property="og:image/" content="{{ .Params.Featured_image }}" />
<meta property="twitter:image" content="{{ .Params.Featured_image }}" />
{{- else -}}
<meta property="og:image" content="{{ site.Params.Image }}" />
<meta property="twitter:image" content="{{ site.Params.Image }}" />
{{- end -}}
{{- end -}}