---
import PageHeader from "../components/PageHeader.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <section>
    <PageHeader
      title="Notes"
      description="Trying to remember and share my knowledge and experience"
    />
  </section>
</RootLayout>
