.text-container {
  padding: 10px;
  width: 50%;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.6em;
}

@media screen and (max-width: 800px) {
  .text-container {
    width: 100%;
    font-size: 1.1rem;
  }
}
