#about,
#stack {
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-container {
  margin: 5px 0;
  padding: 5px 0;
  width: clamp(380px, 50vw, 600px);
  font-size: clamp(15px, 4vw, 25px);
  text-align: justify;
  line-height: 1.6em;
}

.stack-container {
  width: clamp(380px, 50vw, 700px);
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.stack-card {
  width: clamp(140px, 50ww, 200px);
  height: 80px;
  background-color: var(--secondary-color);
  padding: 10px 30px;
  margin: 10px;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.stack-card:hover {
  color: var(--primary-color);
  background-color: var(--highlight-color);
}

.stack-card__icon {
  margin-right: 12px;
  font-size: clamp(25px, 3vw, 40px);
}

.resume-container {
  justify-content: space-around;
  width: 400px;
  height: 330px;
  margin-top: 100px;
  padding: 40px;
  border-radius: 15px;
  transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.resume-container > p {
  font-size: 23px;
}

.resume-container:hover {
  color: var(--primary-color);
  background-color: var(--highlight-color);
}

.resume-link {
  display: grid;
  place-content: center;
  width: 200px;
  background-color: var(--secondary-color);
  margin: 10px 0;
  padding: 20px 30px;
  border-radius: 20px;
  color: var(--text-color);
  font-weight: bold;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.resume-link:hover {
  color: var(--highlight-color);
}

#cactus-3d-container {
  width: clamp(400px, 50vw, 650px);
  height: clamp(400px, 50vw, 650px);
}

#cactus-3d {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  #about,
  #stack {
    align-items: center;
  }
}
