#about,
#stack {
  align-items: flex-start;
}

.text-container {
  padding: 5px 0;
  width: clamp(380px, 50vw, 700px);
  font-size: clamp(15px, 4vw, 25px);
  text-align: justify;
  line-height: 1.6em;
}

.stack-container {
  width: clamp(380px, 50vw, 700px);
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.stack-card {
  display: grid;
  place-items: center;
  width: clamp(140px, 50w, 200px);
  height: 80px;
  background-color: var(--secondary-color);
  padding: 10px 30px;
  margin: 7px;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.stack-card:hover {
  color: var(--primary-color);
  background-color: var(--highlight-color);
}

@media screen and (max-width: 600px) {
  #about,
  #stack {
    align-items: center;
  }
}
