#contact {
  height: 100vh;
}

#contactForm {
  padding: 20px;
  justify-content: space-around;
}

label {
  margin-bottom: 10px;
  font-size: 18px;
}

.input-container {
  margin-bottom: 30px;
}

input,
textarea {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 20px;
  height: 50px;
  width: clamp(370px, 50vw, 700px);
  padding: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 200px;
}

button[type="submit"] {
  color: var(--text-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  padding: 20px;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background-color: var(--highlight-color);
}
