---
import { getCollection } from "astro:content";
import PageHeader from "./PageHeader.astro";
import clsx from "clsx";

const experience = await getCollection("experience");

if (!experience) throw new Error("Experience content not found");
---

<section class="content">
  <PageHeader title="Experience" description="My work experience" />

  <div class="space-y-8">
    {
      experience
        .sort((a, b) => b.data.startDate.getTime() - a.data.startDate.getTime())
        .map(async (exp, i) => {
          const Body = await exp.render();

          return (
            <div class="space-y-4">
              <div class="flex items-start justify-between">
                <div>
                  <h2 class="font-medium text-lg">{exp.data.position}</h2>
                  <a
                    href={exp.data.companyLink || "#"}
                    class={clsx(
                      "text-muted-foreground text-sm",
                      exp.data.companyLink && "underline"
                    )}
                  >
                    {exp.data.company}
                  </a>
                </div>

                <p class="text-muted-foreground text-sm">
                  {exp.data.startDate.toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                  })}{" "}
                  - {exp.data.endDate}
                </p>
              </div>

              <article class="mt-2 content">
                <Body.Content />
              </article>
            </div>
          );
        })
    }
  </div>
</section>
