---
export const navbarItems = [
  {
    label: "Home",
    link: "/",
  },
  {
    label: "About",
    link: "/about",
  },
  {
    label: "Posts",
    link: "/posts",
  },
  {
    label: "Notes",
    link: "/notes",
  },
];
---

<header class="flex items-center space-x-12 p-6">
  <h1 class="text-4xl/tight">Azim Akmatov</h1>
  <nav class="flex items-center space-x-8">
    {navbarItems.map((nav) => <a href={nav.link}>{nav.label}</a>)}
  </nav>
</header>
