.header {
  background-color: rgba(26, 24, 26, 0.8);
  position: fixed;
  width: 100%;
  height: 100px;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.header a {
  display: block;
  margin-right: 20px;
  transition: color 0.6s;
  font-size: clamp(13px, 2vw, 18px);
}

.header a:hover {
  color: var(--highlight-color);
}

.header-inner {
  width: auto;
  padding: 0 20px;
}