---
export const navbarItems = [
  {
    label: "Home",
    link: "/",
  },
  {
    label: "About",
    link: "/about",
  },
  {
    label: "Posts",
    link: "/posts",
  },
  {
    label: "Notes",
    link: "/notes",
  },
];
---

<header class="flex items-center justify-between border rounded-md">
  <nav class="flex">
    {
      navbarItems.map((item) => (
        <li>
          <a
            href={item.link}
            class="inline-block px-6 py-4 text-lg hover:text-primary duration-300"
          >
            {item.label}
          </a>
        </li>
      ))
    }
  </nav>
</header>
