---
import PageHeader from "./PageHeader.astro";
---

<section class="content">
  <PageHeader title="👋 Hi, I'm Azim" />
  <p class="text-muted-foreground">
    I build things for the web and in my free time, I make music.
  </p>

  <p class="text-muted-foreground">
    Let's work together! <a
      class="underline text-primary font-medium cursor-pointer"
      href="/resume.pdf">View my resume</a
    >
  </p>
</section>
