#home {
  align-items: center;
  justify-content: center;
}

.greeting {
  font-weight: normal;
  font-size: clamp(1.8rem, 5vw, 70px);
  text-shadow: -0.04em 0.021em 0 rgba(255, 0, 0.4),
    0.03em -0.05em 0 rgba(0, 255, 0, 0.4), -0.09em 0.03em 0 rgba(0, 0, 255, 0.4);

  animation: glitch 1.7s infinite;
}

.greeting-about {
  font-weight: 300;
  font-size: clamp(1rem, 2vw, 20px);
}

.home-text-container {
  text-align: center;
  width: clamp(420px, 50%, 1000px);
  padding: 40px;
  /* text-shadow: 3px 3px 8px rgba(1, 1, 1, 0.3); */
}

.social-links-container {
  width: 200px;
  padding: 10px;
  justify-content: space-around;
}

.social-icon {
  font-size: 30px;
  transition: 0.2s ease-in-out;
}

.social-icon:hover {
  color: var(--highlight-color);
  transform: scale(1.05, 1.05);
}

@keyframes glitch {
  0% {
    text-shadow: -0.04em 0.021em 0 rgba(255, 0, 0.4),
      0.03em -0.05em 0 rgba(0, 255, 0, 0.4),
      -0.04em 0.03em 0 rgba(0, 0, 255, 0.4);
  }
  49% {
    text-shadow: -0.04em 0.021em 0 rgba(255, 0, 0.4),
      0.03em -0.05em 0 rgba(0, 255, 0, 0.4),
      -0.09em 0.03em 0 rgba(0, 0, 255, 0.4);
  }
  50% {
    text-shadow: -0.02em 0.01em 0 rgba(255, 0, 0.4),
      0.03em -0.02em 0 rgba(0, 255, 0, 0.4),
      -0.02em 0.01em 0 rgba(0, 0, 255, 0.4);
  }
  69% {
    text-shadow: -0.02em 0.01em 0 rgba(255, 0, 0.4),
      0.03em -0.02em 0 rgba(0, 255, 0, 0.4),
      -0.02em 0.01em 0 rgba(0, 0, 255, 0.4);
  }
  70% {
    text-shadow: -0.04em -0.03em 0 rgba(255, 0, 0.4),
      0.03em -0.03em 0 rgba(0, 255, 0, 0.4),
      -0.05em 0.03em 0 rgba(0, 0, 255, 0.4);
  }
  75% {
    text-shadow: -0.04em -0.03em 0 rgba(255, 0, 0.4),
      0.03em -0.03em 0 rgba(0, 255, 0, 0.4),
      -0.05em 0.03em 0 rgba(0, 0, 255, 0.4);
  }
  80% {
    text-shadow: 0.02em -0.01em 0 rgba(255, 0, 0.4),
      -0.05em -0.02em 0 rgba(0, 255, 0, 0.4),
      -0.05em +0.02em 0 rgba(0, 0, 255, 0.4);
  }
  95% {
    text-shadow: 0.02em -0.01em 0 rgba(255, 0, 0.4),
      -0.05em -0.02em 0 rgba(0, 255, 0, 0.4),
      -0.05em +0.02em 0 rgba(0, 0, 255, 0.4);
  }
  100% {
    text-shadow: -0.04em 0.021em 0 rgba(255, 0, 0.4),
      0.03em -0.05em 0 rgba(0, 255, 0, 0.4),
      -0.04em 0.03em 0 rgba(0, 0, 255, 0.4);
  }
}

@media screen and (max-width: 800px) {
  .home-text-container {
    align-items: center;
    text-align: center;
  }
}
