#home {
  /* align-items: flex-start; */
  justify-content: center;
  height: 100vh;
}

#avatar {
  width: clamp(250px, 50vw, 400px);
  height: clamp(250px, 50vw, 400px);
  margin-right: clamp(-70px, 5vw, -180px);
  margin-top: -70px;
  transition: 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#avatar:hover {
  transform: rotateZ(-10deg);
}

.greeting {
  font-weight: bold;
  letter-spacing: 20px;
  font-size: clamp(4rem, 5vw, 90px);
  text-shadow: -0.04em 0.021em 0 rgba(255, 0, 0.8),
    0.03em -0.05em 0 rgba(0, 255, 0, 0.8), -0.09em 0.03em 0 rgba(0, 0, 255, 0.8);
  animation: glitch 1.7s infinite;
}

.greeting-about {
  margin: 30px 20px;
  font-weight: 300;
  font-size: clamp(1rem, 2vw, 20px);
}

.first-name {
  font-size: clamp(90px, 5vw, 180px);
  letter-spacing: 10px;
}

.last-name {
  font-size: clamp(30px, 5vw, 50px);
  margin-top: -22px;
  font-family: "Open Sans", sans-serif;
}

.home-text-container {
  text-align: justify;
  padding: 40px;
}

.social-links-container {
  width: 250px;
  padding: 10px;
  justify-content: space-around;
}

.social-icon {
  font-size: 30px;
  transition: 0.2s ease-in-out;
}

.social-icon:hover {
  color: var(--highlight-color);
  transform: scale(1.05, 1.05);
}

@keyframes glitch {
  0% {
    text-shadow: -0.04em 0.021em 0 rgba(255, 0, 0.8),
      0.03em -0.05em 0 rgba(0, 255, 0, 0.8),
      -0.04em 0.03em 0 rgba(0, 0, 255, 0.8);
  }
  49% {
    text-shadow: -0.04em 0.021em 0 rgba(255, 0, 0.8),
      0.03em -0.05em 0 rgba(0, 255, 0, 0.8),
      -0.09em 0.03em 0 rgba(0, 0, 255, 0.8);
  }
  50% {
    text-shadow: -0.02em 0.01em 0 rgba(255, 0, 0.8),
      0.03em -0.02em 0 rgba(0, 255, 0, 0.8),
      -0.02em 0.01em 0 rgba(0, 0, 255, 0.8);
  }
  69% {
    text-shadow: -0.02em 0.01em 0 rgba(255, 0, 0.8),
      0.03em -0.02em 0 rgba(0, 255, 0, 0.8),
      -0.02em 0.01em 0 rgba(0, 0, 255, 0.8);
  }
  70% {
    text-shadow: -0.04em -0.03em 0 rgba(255, 0, 0.8),
      0.03em -0.03em 0 rgba(0, 255, 0, 0.8),
      -0.05em 0.03em 0 rgba(0, 0, 255, 0.8);
  }
  75% {
    text-shadow: -0.04em -0.03em 0 rgba(255, 0, 0.8),
      0.03em -0.03em 0 rgba(0, 255, 0, 0.8),
      -0.05em 0.03em 0 rgba(0, 0, 255, 0.8);
  }
  80% {
    text-shadow: 0.02em -0.01em 0 rgba(255, 0, 0.8),
      -0.05em -0.02em 0 rgba(0, 255, 0, 0.8),
      -0.05em +0.02em 0 rgba(0, 0, 255, 0.8);
  }
  95% {
    text-shadow: 0.02em -0.01em 0 rgba(255, 0, 0.8),
      -0.05em -0.02em 0 rgba(0, 255, 0, 0.8),
      -0.05em +0.02em 0 rgba(0, 0, 255, 0.8);
  }
  100% {
    text-shadow: -0.04em 0.021em 0 rgba(255, 0, 0.8),
      0.03em -0.05em 0 rgba(0, 255, 0, 0.8),
      -0.04em 0.03em 0 rgba(0, 0, 255, 0.8);
  }
}

@media screen and (max-width: 800px) {
  .home-text-container {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  #home {
    justify-content: center;
    align-items: center;
  }
}
