#projects {
  width: 100%;
  height: auto;
  min-height: 100vh;
  align-items: flex-start;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  place-items: center;
  padding: 50px 0;
  margin: 0;
}

.project-card {
  width: clamp(400px, 50vw, 500px);
  min-height: 400px;
  padding: 50px;
  /* background-color: var(--secondary-color); */
  border-radius: 15px;
  transition: 0.3s ease-in;
}

.project-card:hover {
  background-color: var(--highlight-color);
  color: var(--primary-color);
}

.project-card:hover .project-icon {
  color: var(--primary-color);
}

.title {
  font-weight: bold;
  font-size: clamp(1.6rem, 50vw, 2rem);
}

.type {
  margin-top: 3px;
  font-weight: 200;
  font-size: 1.1rem;
}

.technology {
  margin-top: 6px;
  font-weight: 100;
  font-size: 0.8rem;
}

.description {
  margin-top: 20px;
}

.links {
  margin-top: 20px;
  font-size: 0.8rem;
}

.project-links {
  height: 50px;
  padding-top: 20px;
}

.project-icon {
  font-size: 30px;
  margin-right: 15px;
}

@media screen and (max-width: 600px) {
  .projects-container {
    grid-template-columns: 1fr;
  }

  #projects {
    align-items: center;
  }
}
