---
import { Icon } from "astro-icon/components";
import clsx from "clsx";
import type { NavbarItem } from "../types";

type Props = {
  nav: NavbarItem;
  trailingIcon?: string;
};

const { nav, trailingIcon } = Astro.props;

const { pathname } = Astro.url;

const isActive = (path: string) =>
  path === pathname || (path !== "/" && pathname.startsWith(path));
---

<a
  class={clsx(
    "flex items-center text-sm space-x-4 px-4 py-1.5 rounded-md text-muted-foreground duration-300 transition-all hover:text-primary hover:bg-muted",
    isActive(nav.link) && "text-primary bg-muted"
  )}
  href={nav.link}
  target={nav.isTargetBlank ? "_blank" : "_self"}
>
  <Icon name={nav.icon} />

  <span class="flex-1">{nav.label}</span>

  {trailingIcon && <Icon name={trailingIcon} class="ml-auto" />}
</a>
