---
import { Icon } from "astro-icon/components";
import SidebarItem from "./SidebarItem.astro";

const socialLinks = [
  {
    label: "GitHub",
    link: "https://github.com/akmatoff",
    icon: "ri:github-fill",
  },
  {
    label: "Linkedin",
    link: "https://www.linkedin.com/in/akmatoff/",
    icon: "ri:linkedin-fill",
  },
  {
    label: "E-mail",
    link: "mailto:hello@akmatoff.cv",
    icon: "ri:mail-fill",
  },
];
---

<section class="space-y-4">
  <h2 class="ml-4">Social</h2>

  <ul class="space-y-2">
    {
      socialLinks.map((link) => (
        <li>
          <SidebarItem nav={link} trailingIcon="ri:arrow-right-s-line" />
        </li>
      ))
    }
  </ul>
</section>
