@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: #1a181a;
  --secondary-color: #2c2c2c;
  --text-color: #b4b4b4;
  --highlight-color: rgb(230, 224, 224);
  --dark-color: #727272;
}

* {
  box-sizing: border-box;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

a {
  /* cursor: none; */
  text-decoration: none;
  color: var(--text-color);
}

p {
  font-size: 30px;
}

h1,
h2,
h3 {
  margin: 0;
  font-size: 35px;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  height: auto;
  /* width: 100%; */
  /* scrollbar-width: none; */
}

/* ::-webkit-scrollbar {
  display: none;
} */

.scroll-view {
  width: 95%;
}

.App {
  justify-content: center;
}

.cursor {
  position: fixed;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 100%;
  border: 1px solid var(--text-color);
  pointer-events: none;
  animation: cursorAnimation 0.8s infinite;
}

.main-container {
  width: 100%;
  height: auto;
  padding: 60px 0;
  /* scroll-snap-align: center; */
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: clamp(35px, 5vw, 55px);
}

.link {
  font-size: 25px;
  color: var(--dark-color);
}

@keyframes cursorAnimation {
  0% {
    transform: scale(1.3, 1.3);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.9);
  }
  100% {
    transform: scale(1, 1);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.9);
  }
}

@media screen and (max-width: 1200) {
  .main-container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
