@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #050505;
    --background: #fafafa;
    --content: #ffffff;
    --muted: #f0f0f0;
    --foreground: #1f1f1f;
    --muted-foreground: #818181;
    --border: #242424;

    --shadow-sm: 0 1px 2px #ffffff30, 0 1px 3px #00000020;
  }

  .dark {
    --primary: #ffffff;
    --background: #050505;
    --muted: #313131;
    --content: #161616;
    --foreground: #fafafa;
    --muted-foreground: #bdbdbd;
    --border: #242424;

    --shadow-sm: 0 1px 2px #ffffff30, 0 1px 2px #00000015;
  }

  body {
    font-family: "Geist Mono", sans-serif;
    @apply bg-background text-foreground;
  }

  li {
    list-style: none;
  }

  .content li {
    list-style: disc;
    margin: 8px 20px;
  }

  .content > p {
    margin: 14px 0;
    line-height: 2rem;
  }
}
