---
import Header from "../components/Header.astro";

import "../main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="../main.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Azim Akmatov | TypeScript Developer, Music Producer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col items-center bg-background text-foreground">
    <main class="p-2 space-y-4 w-full">
      <Header />

      <slot />
    </main>
  </body>
</html>
