---
import Sidebar from "../components/Sidebar.astro";
import "../main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Azim Akmatov | TypeScript Developer, Music Producer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="flex flex-col items-center bg-background text-foreground lg:mx-[20%]"
  >
    <main class="flex min-h-screen w-full p-2 space-x-2 lg:p-8">
      <div class="flex-[1_1_0%]">
        <Sidebar />
      </div>

      <div class="flex-[3_1_0%] p-4">
        <slot />
      </div>
    </main>
  </body>
</html>
